.sign-in-page {
    background-color: #42A5F5;
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    text-align: center;
    .sign-in-paper {
        width: 400px;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;
    }
    .sign-in-error{
        color: red;
    }
}
.pw-forget-page {
    .pw-forget-paper{
        width: 400px;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0;
    }
    .pw-forget-error {
        color: red;
    }
}

.app-root {
    display: flex;
    input {
        font-size: 0.8125rem;
    }
    .cell {
        width: 155px;
        .button {
            display: inline-block;
        }
    }
    .font-size-small {
        > div {
            > div {
                font-size: 0.8125rem;
            }
        }
    }
}